html {
    display: flex;
    justify-content: center;
}
#vse {
    width: 1440px;
    height: 10000px;
    border: 1px solid black;
    
}

#img {
    width: 1440px;
    height: 56px;
}


#menu {
    width: 1440px;
    height: 90px;
    border-bottom:  1px solid #F6F6F9;
    justify-content: left;
    gap: 50px;
    display: flex;
}

#menu>#ss{
    text-decoration: none;
    font-family: 'Be Vietnam Pro';
    color: black;
    margin-top: 30px;
    padding-left: 40px;

}

#button {
    border: 1px solid #E8E7EE;
    margin-top: 20px;
    margin-left: 670px;
    width: 147px;
    height: 32px;
    text-align: center;
    padding-top:15px;
}

a{
    text-decoration: none;
    font-family: 'Be Vietnam Pro';
    color: black;
}

#meetlemon {
    width: 114px;
    height: 24px;
    font-size: 16px;
    margin-left: 663px;
    margin-top: 70px;
}

#h1{
    width: 651px;
    height: 173px;
    margin-top: 37px;
    margin-left: 440px;
    font-size: 67px;
}


#p1 {
    width: 766px;
    height: 64px;
    font-size: 16px;
    margin-left: 300px;
    margin-top: 60px;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Be Vietnam Pro';
    text-align: center;
}

#img1{
    width: 1280px;
    height: 480px;
    margin-left: 85px;
}

#div1{
    display: flex;
    justify-content: space-between;
}

#p {
    width: 1260px;
    height: 114px;
    display: flex;
    justify-content: space-around;
    margin-left: 190px;
    align-items: center;
    column-gap: 245px;
    margin-top: 130px;
    border-bottom: 1px solid #E8E7EE;
    padding-bottom: 40px;
}

#div1{
    width: 386px;
    font-size: 44px;
}

#div2{
    width:431px;
    height:96px;
    font-size: 16px;
}

#flex {
    width: 1060px;
    height: 298px;
    display: flex;
    margin-top: 32px;
    margin-left: 190px;
    justify-content: space-between;
}

#p2{
    margin-top: 32px;
    font-size: 16px;
    width: 235px;
}

#c1 {
    width: 327px;
    height: 298px;
    border: 1px solid #E8E7EE;
    text-align: center;
}

#c2{
    width: 327px;
    height: 298px;
    border: 1px solid #E8E7EE;
    text-align: center;
}

#c3{
    width: 327px;
    height: 298px;
    border: 1px solid #E8E7EE;
    text-align: center;
}

#zag{
    font-size: 23px;
}

#fleximg {
    width: 72px;
    height: 72px;
    margin-top: 41px;
}

#learnmore{
    display: flex;
    width: 1028px;;
    height:24px;
    background-color: #F6F6F9;
    margin-top:32px;
    margin-left: 190px;
    gap: 466px;
    align-items: center;
    justify-content: right;
    padding: 16px;
}

#p3{
    size: 16px;
    text-align: center;
    width: 1440px;
    margin-top: 160px;
}

#h2{
    width: 1440px;
    font-size: 66px;
    text-align: center;
    font-weight: 400;
    margin-top: -5px;
}

#IMG{
    display: flex;
    width: 1440px;
    height: 536px;
    justify-content: space-evenly;
}

#IMG>img{
    width: 526px;
    height: 386px;
    padding-top: 75px;
    padding-left: 48px;

}

#img2{
    width: 1440px;
    height: 386px;
    align-items: center;
    margin-top: 116px;
    display: flex;
    justify-content: center;
}

#img2>img{
    width: 526px;
    height: 386px;
}

footer{
    margin-top: 280px;
}

#floor1{
    width: 1440px;
    height: 95px;
    background-color: #2A514C;
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
    border-bottom: 1px solid #F0FAF81A;
}

#flexfoot{
    display: flex;
    gap: 16px;
    height: 40px;
    margin-top: 10px;
}

#floor1>p{
    color: white;
    padding-top: 16px;
    padding-left: 80px;
    padding-bottom: 56px;
}

#floor2{
    display: flex;
}

#col1{
    width: 360px;
    height: 362px;
    background-color: #2A514C;
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
}

#yellow{
    margin-top: -20px;
    padding-bottom:  20px;
    color: #EBFA9E;
}

#col2{
    width: 360px;
    height: 362px;
    background-color: #2A514C;
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
}

#col3{
    width: 360px;
    height: 362px;
    background-color: #2A514C;
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
}

#col4{
    width: 360px;
    height: 362px;
    background-color: #2A514C;
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
}

#floor3{
    width: 1440px;
    height: 80px;
    background-color: #2A514C;
    color: white;
    border-top: 1px solid #F0FAF81A;
}

span{
    color: #EBFA9E;
}

#floor3>p{
    margin-top: 60px;
}